<fieldset>
    <!-- plant name -->
    <div>
        <label for='plant-name'>Name</label><br>
        <input id='plant-name' type='text' name='name' value='{{ plant.name }}'/>
    </div>

    <!-- plant-scription -->
    <div>
        <label for='description'>Description</label><br>
        <input id='description' type='text' name='description' value='{{ plant.description }}'/>
    </div>

    <!-- image url -->
    <div>
        <label for='plant-image'>Image URL</label><br>
        <input id='plant-image' type='text' name='image' value='{{ plant.image }}'/>
    </div>
</fieldset>
