<!-- plants_show.html -->
{% extends 'base.html' %}

{% block content %}
<!-- plant navbar -->
<div class="nav_container">
    <button class='header_btn' onclick="location.href='/';">Back</button>
    <div id="logo" onclick="location.href='/';">Plant Nursery</div>
    <button class='header_btn' onclick="location.href='/plants/{{ plant._id }}/edit';">Edit Listing</button>
    <button type='submit' form='delete_form' class='header_btn'>Delete Listing</button>
</div>

<div class='plant_container'>
    <h1 class='plant_name'>{{ plant.name }}</h1>
    <img class='plant_img' src="{{ plant.image }}" alt="{{ plant.name }}"><br>
    <p class='plant_desc'>{{ plant.description }}</p>
</div>

<form method='POST' id='delete_form' action='/plants/{{plant._id}}/delete'>
    <input type='hidden' name='_method' value='DELETE'>
</form>
{% endblock %}
